{% extends 'layouts/base.html' %}
{% block title %}Products{% endblock %}

{% block content %}
  <h1>Products</h1>
  <!-- Products list -->
  <div class="section">
    <div class="table-responsive">
      <table class="table table-bordered, table-hover" id="Products">
        <thead>
          <th>Product Id</th>
          <th>Name</th>
          <th>Last Modified</th>
        </thead>
        <tbody>
          {% for product in product_list %}
          <tr>
            <td>
              <a href="{{ product.get_absolute_url }}">{{product.id}}</a>
            </td>
            <td>
              <a href="{{ product.get_absolute_url }}">{{product.name}}</a>
            </td>
            <td>{{ product.modified }}</td>
            <td>
              <p>
                <a href="{{ product.get_absolute_url }}">Details</a>
              </p>
              <p>
                <a href="{{ product.get_absolute_url }}update/">Update</a>
              </p>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="text-right">
      <a href="{% url 'products:product_create' %}" class="btn btn-primary">Create Product</a>
    </div>
  </div>
{% endblock %}